<div class="col s12 m12 l12" [formGroup]="createConversation">

  <div class="row">
    <div class="col s12 m12 l12">
      <mat-form-field>
        <mat-label>Designation</mat-label>
        <mat-select formControlName="designations">
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>


  <div class="row">
    <div class="col s12 m12 l12">
      <mat-form-field>
        <mat-label>Staff(s) Name</mat-label>
        <mat-select formControlName="recipients" multiple>
          <mat-option *ngFor="let food of foods" [value]="food.value">{{food.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>


  <div class="row">
    <div class="col s12 m12 l12">
      <mat-form-field>
        <mat-label>Message</mat-label>
        <textarea matInput placeholder="Enter Message" formControlName="message" rows="5" cols="10"></textarea>

      </mat-form-field>
    </div>
  </div>


  <div class="row">
    <div class="col s12 m12 l12">
      <mat-form-field>
        <mat-label>Subject</mat-label>
        <textarea matInput placeholder="Enter Subject" formControlName="subject" rows="5" cols="10"></textarea>

      </mat-form-field>
    </div>
  </div>

</div>
