.navbar-custom {
  padding: 5px;
}



@media only screen and (min-width: 801px) {
  .logo-sm {
    display: none;
  }

  .logo-lg {
    display: block;

  }
}

@media only screen and (max-width: 800px) {

  .logo-sm {
    display: block;
  }

  .logo-lg {
    display: none;
  }
}

.align-right {
  float: left;
  margin-left: 2px;
  padding: 5px;
  color: #048623;
  font-size: 19px;
  font-weight: lighter;
  text-align: justify;
  word-wrap: break-word;
}


.right-side {
  float: right;
  margin-right: 20px;

}


.left-side {
  float: left;
}
.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  /*color: #f2f2f2;*/
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
}


.link-styling {
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  color: #23a12e;
  cursor: pointer;
}
