.mat-form-field {
  display: inline;
}

.custom-button-login {
  width: 100% !important;
  min-width: unset!important;
}

.div-padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.custom-body {
  /*min-height: 100vh;*/
}



.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  /*flex-direction: column;*/
  /*width: 100%;*/
  /*vertical-align: middle;*/
  min-height: 60vh;
}

@media screen and (max-width: 800px) {
  /*.custom-body {*/
  /*display: block;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*flex-direction: column;*/
  /*}*/
}

@media screen and (min-width: 801px) {

  .login-page-resize {
    width: 450px;
    margin: 0 auto;
  }
}

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*width: 100%;*/
  vertical-align: middle;
  /*min-height: 100vh;*/
}

.text-align-center {
  padding: 10px;
  text-align: center;

}

.align-middle {
  display: table;
  margin: 0 auto;
  vertical-align: middle;
}

.custom-form-control {
  min-height: 50px;
  border-radius: 0;
}


.custom-button {
  min-height: 50px;
  width: 100%;
}

.div-padding-10 {
  padding: 10px;
}

.btn-login {
  padding: 5px;
  width: 100%;
  color: #fff;
  font-size: 18px;
  background-color: #47b329;
  border-color: #4dcc2b;
}

.btn-login:active, .btn-login:hover {
  font-size: 18px;
  color: #fff;
  background-color: #36971e;
  border-color: #36971e;
}


.bg-account-pages {
  background-color: #dee7e4;
  background-size: auto;
  padding-bottom: 0;
  min-height: 70vh;
}


.middle {
  display: table-cell;
  vertical-align: middle;
}

.outer {
  display: table;
  height: 100%;
}


.custom-body {
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
