<div class="bg-account-pages" style="background-image: url('assets/images/bg1.png');">

  <div class="container">
      <div class="login-page-resize custom-body">
        <div class="login-page">
          <mat-card>

            <div [formGroup]="loginForm">
              <div class="col m12 s12 l12">
                <div class="row">
                  <mat-form-field
                    class="alignment password-input-field-mat-input" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput
                           placeholder="Enter email"
                           autocomplete="off"
                           type="text"
                           formControlName="email">

                    <mat-error *ngIf="loginForm.controls['email'].invalid &&
            (loginForm.controls['emil'].dirty || loginForm.controls['email'].touched)">

              <span *ngIf="loginForm.controls['email'].errors.required">
                Email is required
              </span>

                    </mat-error>

                  </mat-form-field>
                </div>
                <div class="row">
                  <mat-form-field
                    [ngClass]="(loginForm.get('password').value.length > 0)?'password-strength':''"
                    class="alignment password-input-field-mat-input" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput
                           placeholder="Enter password"
                           autocomplete="off"
                           type="{{ showPassword ? 'text' : 'password' }}"
                           formControlName="password">

                    <mat-icon matSuffix
                              style="cursor: pointer"
                              *ngIf="loginForm.controls['password'].value?.length > 0"
                              (click)="toggleShowPassword()">{{ showPassword ? 'visibility' :
                      'visibility_off' }}
                    </mat-icon>

                    <mat-error *ngIf="loginForm.controls['password'].invalid &&
            (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">

              <span *ngIf="loginForm.controls['password'].errors.required">
                Password is required
              </span>

                    </mat-error>

                  </mat-form-field>
                </div>
              </div>

              <button mat-flat-button>Login</button>
            </div>
          </mat-card>
        </div>
      </div>
  </div>
</div>
