.bottom-navbar {
  background-color: #0f4226;
  min-height: 60px;
}

 a {
   vertical-align: middle;
   line-height: 60px;
   color: #ffffff;
   padding-right: 10px;
   padding-left: 10px;
 }

.right-side {
  float: right;
  margin-right: 20px;
}
