<div class="bottom-navbar" style="display: block">
  <div class="container">
    <a><fa-icon [icon]="fathLarge" style="padding-right: 10px"></fa-icon>Dashboard</a>
    <div class="right-side">
      <a><fa-icon [icon]="faUser" style="padding-right: 10px"></fa-icon>maduz@gmail.com</a>
      <a><fa-icon [icon]="faPowerOff" style="padding-right: 10px"></fa-icon> Log Out</a>
    </div>
  </div>
</div>

