<nav class="navbar-custom">
  <div class="container">
    <div>

      <div class="topnav">

        <a routerLink="/inbox" class="logo">
          <span class="logo-lg">
            <img src="assets/images/logo.png" alt="" height="60">
          </span>
          <span class="logo-sm">
            <img src="assets/images/logo_sm.png" alt="" height="28">
          </span>
        </a>

        <div class="right-side">
          <!--<ul>-->
            <!--<li class="align-right">-->
              <a class="link-styling">Contact Us</a>
            <!--</li>-->
            <!--<li class="align-right">-->
              <a class="link-styling">FAQs</a>
            <!--</li>-->
          <!--</ul>-->
        </div>
      </div>
    </div>

  </div>
</nav><!-- end navbar-custom -->
<!--<nav  *ngIf="showLogout" class="navbar-custom page-title-box">-->
<!--<ul class="list-unstyled topbar-right-menu mb-0 left">-->
<!--<li class="dropdown notification-list space">-->
<!--<a class="nav-link arrow-none" routerLink="/inbox">-->
<!--<i class="mdi mdi-mailbox"></i> Inbox</a></li></ul>-->
<!--<ul class="list-unstyled topbar-right-menu float-right right mb-0">-->
<!--<li class="dropdown notification-list"><a class="nav-link arrow-none" href="#"><i class="fa fa-user"></i> {{user}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>-->
<!--<li class="dropdown notification-list">-->
<!--<a routerLink="/logout" (click)="logout()" class="nav-link arrow-none" href="#">&nbsp;&nbsp;&nbsp;<i class="fa fa-power-off"></i>&nbsp;&nbsp;log Out</a>-->
<!--</li>-->
<!--</ul>-->
<!--</nav>-->
