<div class="bg-account-pages" style="background-image: url('assets/images/bg1.png');">

  <div class="container">
    <div style="padding-top: 20px; padding-bottom: 20px">
      <div>
        <div style="display: block">
            <img style="display: inline-block;  vertical-align: middle;" [src]="'assets/images/operator.png'"
                 alt="image">
            <h3 style="display: inline-block; padding-left: 20px; line-height: 70px; color: #25b30f">
              CONVERSATION CENTER</h3>

          <div style="float: right; display: inline-block; line-height: 100px">
            <button mat-flat-button class="btn-login">
              <fa-icon [icon]="faArrowLeft" style="padding-right: 10px"></fa-icon>
              GO BACK
            </button>
          </div>

        </div>

        <mat-card>

          <button class="btn-login" mat-flat-button (click)="openCreateConversation()">
            <fa-icon [icon]="faEnvelope" style="padding-right: 10px"></fa-icon>
            Create Conversation
          </button>

          <div style="padding-top: 20px">
            <table mat-table [dataSource]="dataSource" class="">

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

              <!-- Position Column -->
              <ng-container matColumnDef="position" sticky>
                <th mat-header-cell *matHeaderCellDef> No.</th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="category" sticky>
                <th mat-header-cell *matHeaderCellDef> Category</th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="subject">
                <th mat-header-cell *matHeaderCellDef> Subject</th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="from-to">
                <th mat-header-cell *matHeaderCellDef> From/To</th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
              </ng-container>


              <!-- Symbol Column -->
              <ng-container matColumnDef="designation">
                <th mat-header-cell *matHeaderCellDef> Designation(s)</th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
              </ng-container>


              <!-- Symbol Column -->
              <ng-container matColumnDef="created">
                <th mat-header-cell *matHeaderCellDef> Created/ Received On</th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
              </ng-container>


              <!-- Symbol Column -->
              <ng-container matColumnDef="notification">
                <th mat-header-cell *matHeaderCellDef> Notification</th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
              </ng-container>


              <!-- Symbol Column -->
              <ng-container matColumnDef="symbol" stickyEnd>
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                  <button mat-flat-button class="btn-login" (click)="redirect()"> View Details</button>
                </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>

        </mat-card>

      </div>
    </div>

  </div>

</div>
