.btn-login {
  color: #fff;
  font-size: 12px;
  background-color: #47b329;
  border-color: #4dcc2b;
}

.btn-login:active, .btn-login:hover {
  font-size: 12px;
  color: #fff;
  background-color: #36971e;
  border-color: #36971e;
}
table {
  width: 100%;
}
