.chat-text {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #0f4226;
  color: #ffffff !important;
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
}

.mat-form-field {
  display: inline;
}

.wrap-chat-info {
  padding: 10px;
  display: block;
}

.chat-right {
  float: right;
}


.chat-left {
  float: left;
}


.chat-avatar {
  vertical-align: middle;
  display: inline-block;
}

.chat-avatar-right {
  float: right;
}


.chat-avatar-left {
  float: left;
}

.chat-name {
  text-align: center;
}



.chat-hour {
  display: inline-block;
  vertical-align: middle;
  line-height: 50px;
}

@media only screen and (min-width: 801px) {
  .chat-text {
    width: 600px;
  }
}


@media only screen and (max-width: 800px) {
  .chat-text {
    width: 100%;
  }
}
