<div style="min-height: 60vh">
  <div class="container">
    <div class="col m12 l12 s12">

      <div>

        <div *ngFor="let escalationMessage of escalationMessages"
             [ngClass]="{'chat-right': escalationMessage.createdBy.username === username, 'chat-left': escalationMessage.createdBy.username !== username}">

          <div class="wrap-chat-info">
            <div class="chat-avatar" [ngClass]="{'chat-avatar-right': escalationMessage.createdBy.username === username,
            'chat-avatar-left': escalationMessage.createdBy.username !== username}">
              <div *ngIf="escalationMessage.createdBy.gender === 'Male'; else female">
                <img src="assets/images/man.png" alt="Retail Admin">
              </div>
              <ng-template #female>
                <img src="assets/images/girl.png" alt="Retail Admin">
              </ng-template>

              <div *ngIf="escalationMessage.createdBy.username !== username; else you">
                <div class="chat-name">{{escalationMessage.createdBy.username}}</div>
              </div>

              <ng-template #you>
                <div class="chat-name">{{escalationMessage.createdBy.username}}</div>
              </ng-template>

            </div>
            <div class="chat-text"> {{escalationMessage.content}} <br>
              <a href="#">documentfile.jpg <i class="fa fa-download"></i></a>
            </div>
            <div class="chat-hour" [ngClass]="{'chat-avatar-left': escalationMessage.createdBy.username === username,
            'chat-avatar-right': escalationMessage.createdBy.username !== username}">{{ escalationMessage.dateCreated | date: 'dd/MM/yyyy @ h:mma'}}
              <fa-icon [icon]="faCheck" style="color:lawngreen"></fa-icon>
            </div>
          </div>
        </div>

      </div>


      <div style="margin-top: 30px">

        <div class="row">

          <div class="col s12 m12 l12">
            <mat-form-field
              class="alignment password-input-field-mat-input" appearance="outline">
              <mat-label>Message</mat-label>
              <textarea matInput
                        placeholder="Enter message"
                        autocomplete="off"
                        type="text"
                        cols="5"
                        rows="5"></textarea>
            </mat-form-field>

          </div>
        </div>
      </div>


    </div>
  </div>
</div>

