<footer class="navbar-custom top" style="background-color: white;">
  <div class="col m12 s12 l12 space2">
    <div class="row">
      <div class="col s12 l6 float-left footer-text"><img src="assets/images/img.ico" style="margin-top:-1.5%;" alt="footer">
        <a href="#">(c)2018 Corporate Affairs Commission</a>
      </div>
      <div class="col s12 l3 footer-text space2">
        <a href="#">	privacy Policy</a>
      </div>
      <div class="col s12 l3  remove footer-text">
        <a href="#">Portal Term Of use</a>
      </div>
    </div>
  </div>
</footer>
